{
	"semi": true,
	"trailingComma": "es5",
	"singleQuote": false,
	"printWidth": 119,
	"tabWidth": 4,
	"useTabs": true,
	"arrowParens": "always",
	"overrides": [
		{
			"files": ["*.yml", "*.yaml"],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
